node_modules/
.git/

eventmanager/.env
eventmanager/uploads/
eventmanager/logs/
eventmanager/datastore/

multer-tutorial/uploads/

winston-tutorial/logs/

package-lock.json

sequelize-tutorial/database/

sequelze-queries/database/
sequelize-queries/output.txt

sequelize-quick/databases/
